@page
@model ToDoList.Pages.IndexModel

<h1>Welcome to the TODO list</h1>

<p>You have @Model.TodoCount items to do. </p>

<p><a href="/list">See the list</a> or <a href="/new">add a new item</a>.</p>