@page
@model ToDoList.Pages.ListModel

<h1>TODO List</h1>

<p>There is much still to do.</p>

<p>But there's always room to <a href="/new">add more</a>.</p>

@if (@Model.ToDos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in @Model.ToDos)
            {
                <tr>
                    <td>@todo.Item</td>
                    <td>@todo.DateAdded.ToLongDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

